In [15]:
#Dependencies
import pandas as pd
# SQL Alchemy
from sqlalchemy import create_engine

In [22]:
#Store Pitchfork CSV into Dataframe
pitchfork_csv = "Resources/p4kreviews.csv"
pitchfork_data_df = pd.read_csv(pitchfork_csv)
pitchfork_data_df.head()

#Create new data with select columns:
pitchfork_data_df = pitchfork_data_df[['artist','review','score']]
pitchfork_data_df

,artist,review,score
0,Wilco,Best new reissue 1 / 2 Albums Newly reissued a...,7.0
1,Hopsin,"On his corrosive fifth album, the rapper takes...",3.5
2,Glassjaw,"On their first album in 15 years, the Long Isl...",6.6
3,Nabihah Iqbal,"On her debut LP, British producer Nabihah Iqba...",7.7
4,Neil Young / Promise of the Real,"While still pointedly political, Neil Young�s ...",6.7
...,...,...,...
19550,Cassius,"Well, it's been two weeks now, and I guess it'...",4.8
19551,Coldcut,The marketing guys of yer average modern megac...,8.9
19552,Don Caballero,"Well, kids, I just went back and re-read my re...",7.2
19553,Mojave 3,"Out of Tune is a Steve Martin album. Yes, I'll...",6.3
19554,Neil Hamburger,Neil Hamburger's third comedy release is a des...,6.5

In [16]:
# Store Spotify CSV into Dataframe
spotify_csv = "Resources/top10s.csv"
spotify_data_df = pd.read_csv(spotify_csv)
spotify_data_df.head()

#Create new data with select columns:
new_spotify_data_df = spotify_data_df[['title','artist','year']]
new_spotify_data_df

                                                 title            artist  year
0                                     Hey, Soul Sister             Train  2010
1                                 Love The Way You Lie            Eminem  2010
2                                              TiK ToK             Kesha  2010
3                                          Bad Romance         Lady Gaga  2010
4                                 Just the Way You Are        Bruno Mars  2010
..                                                 ...               ...   ...
598                Find U Again (feat. Camila Cabello)       Mark Ronson  2019
599      Cross Me (feat. Chance the Rapper & PnB Rock)        Ed Sheeran  2019
600  No Brainer (feat. Justin Bieber, Chance the Ra...         DJ Khaled  2019
601    Nothing Breaks Like a Heart (feat. Miley Cyrus)       Mark Ronson  2019
602                                   Kills You Slowly  The Chainsmokers  2019

[603 rows x 3 columns]

In [18]:
#spotify_data_df.head()

,Unnamed: 0,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
0,1,"Hey, Soul Sister",Train,neo mellow,2010,97,89,67,-4,8,80,217,19,4,83
1,2,Love The Way You Lie,Eminem,detroit hip hop,2010,87,93,75,-5,52,64,263,24,23,82
2,3,TiK ToK,Kesha,dance pop,2010,120,84,76,-3,29,71,200,10,14,80
3,4,Bad Romance,Lady Gaga,dance pop,2010,119,92,70,-4,8,71,295,0,4,79
4,5,Just the Way You Are,Bruno Mars,pop,2010,109,84,64,-5,9,43,221,2,4,78

TypeError: to_sql() missing 1 required positional argument: 'con'